body{
  margin:0px;

}

*:not(i){
  //font-family: sans-serif;
  //font-size: $fontSizeNormal;
  font:normal 12px/1.8em Arial, Helvetica, sans-serif
}


a{text-decoration: none;}

input,select{
  height:26px;
}