.page{
  background-color:#f3f1f1;
  &:after{
    content:"";
    display:block;
    width:100%;
    clear:both;
  }
}



.innerPageContainer{
padding-top:40px;
}

.pageCenterContent {

  width:50%;

float:left;
  .post {
display:block;
    header {

      padding:5px;
      background-color:#F9F6F1;
      .postTitle {
        margin:0px;
        padding:0px;
        .phone{
          float:right;
          color:#53A95E;
        }
        .green{
          font-weight: bold;
        }
        span {

        }
      }

      .headerTime {
color:#B5B5B3;
      }
    }

    section.bostBody {
padding:2px 20px;

      .postMainImgDiv {

        img {
width:100%;
        }
      }

      .postDetailDiv {

        p {

        }
      }

      .addressDiv {

        .address {
color:#90908D;

          .addressMapLink {
            color: #53ac80;
            font-weight: bold;
            padding: 0px 5px;
            display: inline-block;
            border: 1px solid #75b185;
            .fa {

            }
          }
        }
      }

    }

    footer {




      .postButtonsDiv {
        background-color: #f9f6f1;
        overflow: hidden;
        padding: 5px 0px;
        text-align: center;
.buttonContainer{
  width:33.33%;
  float:left;
  overflow:hidden;
}
        a{
          text-decoration: none;
          border: 1px solid #a0c9ab;

          display: block;
          margin:0px 5px;

          padding: 0px 0px 0px 5px;
          color: #61af83;
          background-color: #fff;
        }
        .callMeLink {

          .fa {

          }

          span {

          }
        }

        .amFreeLink {

          .fa {

          }

          span {

          }
        }

        .followLink {

          .fa {

          }

          span {

          }
        }
      }




      .allCommentsDiv {

        .commentsInnerDiv {
          background: #f9f6f1;
          padding: 10px 2px;

          .oneCommentDiv {

            background: #efefef;
            margin: 5px 2px;
            padding: 5px;

            h6 {
margin:0px;
              padding:0px;
              text-align:right;

              color: #ada7a0;
            }

            p {
margin:0px;
            }

            .increasingTime {
              text-align:right;

              color: #ada7a0;
              display:block;

            }
          }
        }

        .postCommentDiv {

          .postCommentForm {
margin:0px;
            .postCommentInput {
display:block;
              width:100% ;

              box-sizing: border-box;
              padding:10px 0px;
              padding-left:5px;
            }
          }
        }
      }
    }
  }
}





.pageAside{
  float:left;
  width:25%;
}