
.leftContainer{



  .tabContainer{

    .tab{


      label{

      }
      input{
      }

    }

    .tab.active{

    }

  }







}


.leftContainer{
  padding:10px;
  margin:0px 20px;



}



#scheduleList{

  .listInnerContainer{

    .listItem{



      .smallPost{


        margin-top:10px;


        .postTitle{
          margin:0px;
          .phone{
            float:right;
          }
        }
        .headerTime{
          color:#B5B5B3;
        }

        .bostBody{}
        .postMainImgDiv{

          img{
            width:100%;
          }
        }
        .postDetailDiv{

          p{

          }
        }




      }

    }


  }


}





#notificationList{



  .oneListNotification{

    h3{
      margin:0px;

      .phone{
        float:right;
      }
      span{

      }
    }

    .headerTime{

      color:#B5B5B3;
    }

    .notificationBody{

      p{
        margin:0px;

      }
    }
  }



.callMeNotification{

}



}