

$colorMainLight:#038d8d;


$colorMainDark:#005756;//darken($colorMainLight,20%)


$colorMainLight1:lighten($colorMainLight,9%);
$colorMainLight2:lighten($colorMainLight,40%);



$colorDark:#44596a;
$colorDark1:#404040;


$colorLight1:#57585c;
$colorLight2:" ";


$colorWhite:#ffffff;

$colorShadow:rgba(0,0,0,0.4);


$colorRed:#ff664c;
$colorBlue:#375597;
$colorBlueLight:#3593ff;
 $colorV:#5bc8ff;

$colorGreen:$colorMainLight1;
$colorYellow:#ffbe46;
$colorOrange:#cca152;

$colorDemoButton:#a0a7ab;
$colorDemoButton:#a0a7ab;

$colorMainButton:$colorMainLight;
$colorSecondaryButton:$colorDark1;


$colorMainButton:$colorMainLight;
$colorSecondaryButton:$colorDark1;


$colorActiveLink:$colorMainLight;


$colorActiveLink:$colorMainLight;


$colorHeader:$colorMainLight;
$colorAsideHighLiteLink:#E8D3B0;



$colorBorderLight:#E7E7E7;
$colorBgGray:#F5F5F5;
$colorBgDarkGray:darken($colorBgGray,60%);
$colorBgGrayLight:#FBFBFB;

$colorBorderLight:#cdcdcd;


/*____________________________fonts*/
$fontSizeVerySmall:8px;
$fontSizeSmall:10px;
$fontSizeSmallHeader:12px;

$fontSizeNormal:14px;
$fontSizeNormalHeader:16px;

$fontSizeLarge:18px;
$fontSizeHeader:24px;
$fontSizeLargeHeader:32px;




$fontSizeTopLine:$fontSizeSmall;
$fontSizeMainButton:$fontSizeNormalHeader;
$fontSizeCopyRights:$fontSizeSmall;
$fontSizeBodyVerySmallText:$fontSizeVerySmall;

//$fontSizeBodyArticlesHeader:20px;
//$fontSizeBodyArticles:14px;
//
//$fontSizeBodyLargeText:18px;
//$fontSizeBodyLargeHeader:40px;
//
//
//$fontSizeBodySmallText:12px;
//$fontSizeBodySmallHeader:14px;
//
//
//$fontSizeMainMenu:$fontSizeBodyArticles;
//$fontSizeMainMenuSublink:$fontSizeBodyArticles;
//
//
//$fontSizeArticleInnerHeader:26px;


/*_____________________END____fonts*/



/*_________________float and direction*/
$float1:left;
$float2:right;

$dir1:ltr;
$dir2:rtl;

/*_______________END__float and direction*/


/*__________________________________height_*/
$heightSlider:500px;
/*_______________________________End___height_*/